<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robthecornallgmail.memarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/pixel_pepe"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:windowSoftInputMode="adjustPan"
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name_caps"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.robthecornallgmail.memarket.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.robthecornallgmail.memarket.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>